<h3>Просмотр информации о заказе</h3>
<div class="container">
  <div>
    <label> <b> Клиент: </b> </label> {{order.client}}
  </div>
  <div>
    <label> <b> Дата: </b> </label> {{order.date}}
  </div>
  <div>
    <label> <b> Адресс: </b> </label> {{order.address}}
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Товары</th>
      <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of ordersLine">
      <td>{{item.goods_id.name}}</td>
      <td>{{item.count}}</td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" (click)="goToOrderList()">Отменить</button>
</div>
