<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button class="btn-light" routerLink="create-product" routerLinkActive="active"><b>Create Product</b></button>
    </li>
  </ul>
</nav>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td> {{product.name}}</td>
    <td> {{product.price}}</td>
    <td>
      <button (click)="updateProduct(product.id)" type="button" class="btn btn-primary">Update</button>
      <button (click)="deleteProduct(product.id)" type="button" class="btn btn-danger">Delete</button>
      <button (click)="productInfo(product.id)" type="button" class="btn btn-info">Info</button>
    </td>
  </tr>
  </tbody>
</table>
<!--<footer class="blockquote-footer">-->
<!--  <div class="container">-->
<!--    <span>All Rights Reserved  2023 @JavaTest x21</span>-->
<!--  </div>-->
<!--</footer>-->


