<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button class="btn-light" routerLink="create-product" routerLinkActive="active"><b>Создать товар</b></button>
    </li>
  </ul>
</nav>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Название</th>
    <th>Цена</th>
    <th>Действие</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td> {{product.name}}</td>
    <td> {{product.price}}</td>
    <td>
      <button (click)="updateProduct(product.id)" type="button" class="btn btn-primary">Изменить</button>
      <button (click)="deleteProduct(product.id)" type="button" class="btn btn-danger">Удалить</button>
      <button (click)="productInfo(product.id)" type="button" class="btn btn-info">Информация</button>
    </td>
  </tr>
  </tbody>
</table>



