<div class="form-group">
  <h3>Изменить товар</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Наименование</label>
      <input type="string" class="form-control" id="name" [(ngModel)]="product.name" name="name">
    </div>
    <div class="mb-3">
      <label>Цена</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price">
    </div>
    <button class="btn btn-success" type="submit">Обновить</button>
    <button class="btn btn-danger" (click)="goToProductList()">Отменить</button>
  </form>
</div>
